# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore raw data (optional)
data/raw/

# Ignore secret keys (never commit them!)
mkey.txt
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore front end
frontend/

#ignore .env
.env
__pycache__/
*.pyc

scripts/build_personality.py
append_persona.py
redis_json_convert.py
build_personality.py
.env.txt
scripts/check_persona_format.py
scripts/append_max_chunks.py
opai_token_usage.py
/Secrets
/data/chunks
scripts/chunk_text_md.py
scripts/chunk_text_past.py
scripts/chunk_text_sitemap.py
scripts/embed_upsert_past.py
scripts/generate_secrect_key.py
app/test_app.py
scripts/chunk_text_ordinance.py
scripts/embed_upsert_ordinance.py
scripts/replace_word.py
check_redis_prompts.py
